<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TikNwin Project{% endblock %}</title>
    
    {% load static %}
    {% load tz %}
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}  <!-- Include the header -->

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}  <!-- Include the footer -->
</body>
</html>
